@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.titulo {
  font-family: 'Monoton', sans-serif;
  font-weight: 500;
  color: #00ff88;
}